.Cell {
  fill: #333;
  stroke: #555;
  pointer-events: all;
}

.Cell:hover {
  stroke: #777;
  fill: #444;
}

.Cell.canStart {
  fill: rgba(252, 255, 178, 0.15);
  cursor: crosshair;
}

.Cell.isPreBelt {
  fill: #484848;
}

.Cell.isBelt {
  fill: orange;
}
